* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #182E6C;
}

.navbar {
    background-color: #182E6C;
    width: 100vw;
    height: 10vw;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0 1vw;
}

.navbar .logo {
    position: relative;
    width: 9vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;
    border-radius: 50%;
    border: 0.5vw solid #fff;
}

.navbar .logo img {
    width: 8vw;
    height: 8vw;
    object-fit: cover;
    position: absolute;
    top: -0.5vw;
    left: -0.25vw;
    border-radius: 50%;
}

.navbar .menu {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100vw;
    position: relative;
    top: -1vw;
}

.navbar .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 1vw;
}

.navbar .menu ul li {
    margin: 0 1vw;
    color: #fff;
}

.navbar .menu ul li a {
    color: #fff;
    font-size: 1.5vw;
    padding: 0.5vw 1.5vw;
}

.navbar .menu ul li a:hover {
    background-color: #fff;
    color: #182E6C;
    border-radius: 0.5vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
}

.container .name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: absolute;
    top: 0vw;
}