* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw; /* Adjust padding */
    background-color: #182e6c;
    height: 5vw;
    width: 100vw;
    overflow: hidden;
}

.navbar .logo {
    height: 10vw;
    width: 19vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo img {
    height: 25vw;
    width: 25vw;
    object-fit: cover;
}

.navbar .menu {
    display: flex;
    flex-direction: row;
    align-items: center; /* Adjust alignment */
}

.navbar .menu-toggle {
    display: none; /* Hide menu toggle button by default */
    cursor: pointer;
}

.navbar .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .menu ul li {
    margin: 0 1vw; /* Adjust margin */
    font-size: 1.5vw;
    font-weight: 500;
}

.navbar .menu a {
    color: #fff;
    text-decoration: none;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    transition: all 0.3s ease;
}

.navbar .menu a:hover {
    background-color: #fff;
    color: #182e6c;
}

@media (max-width: 768px) {
    .navbar .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 5vw;
        left: 0;
        right: 0;
        background-color: #182e6c;
        padding: 1vw 2vw;
        width: 100vw;
        height: auto;
        z-index: -1;
        animation: slideUp 0.5s ease forwards;
    }

    .navbar .menu.active {
        display: flex;
        animation: slideDown 0.5s ease forwards;
    }

    .navbar .menu ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navbar .menu ul li {
        margin: 0.5vw 0;
        width: 10vw;
    }

    .navbar .menu a {
        padding: 1vw 2vw;
        color: #fff;
        display: block;
        width: 100%;
        text-align: left;
    }

    @keyframes slideDown {
        from {
            transform: translateY(-100%); 
        }
        to {
            transform: translateY(
                0
            ); 
        }
    }

    @keyframes slideUp {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-100%); 
        }
    }
}
