* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #ccc #182e6c;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #182e6c;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw;
    background-color: #182e6c;
    height: 5vw;
    width: 100vw;
    overflow: hidden;
}

.navbar .logo {
    height: 10vw;
    width: 19vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.navbar .logo img {
    height: 25vw;
    width: 25vw;
    object-fit: cover;
}

.navbar .menu {
    display: flex;
    flex-direction: row;
    align-items: center; /* Adjust alignment */
    justify-content: center;
    /* height: 6vw; */
}

.navbar .menu-toggle {
    display: none;
    cursor: pointer;
    overflow: hidden;
}

.navbar .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* height: auto; */
}

.navbar .menu ul li {
    margin: 0 1vw;
    font-size: 1.5vw;
    font-weight: 500;
    /* height: 2.2vw; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .menu a {
    color: #fff;
    text-decoration: none;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    transition: all 0.3s ease;
}

.navbar .menu a:hover {
    background-color: #fff;
    color: #182e6c;
}

.crud-container {
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 1.5vw; */
    flex-wrap: wrap;
}

.crud {
    padding: 1.5vw;
    border: 0.2vw solid #fff;
    border-radius: 5px;
    margin: 1vw;
    display: flex;
    height: 15vw;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: justify;
    cursor: pointer;
}
.crud h2 {
    text-align: center;
}

.crud p {
    text-align: center;
    margin-top: 0.5vw;
}
.crud ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

#create {
    background-color: #4caf50;
    color: #fff;
}

#read {
    background-color: #2196f3;
    color: #fff;
}

#update {
    background-color: #ff9800;
    color: #fff;
}

#delete {
    background-color: #f44336;
    color: #fff;
}

@media (max-width: 600px) {
    /* * {
        scrollbar-width: thin;
        scroll-behavior: smooth;
        scrollbar-color: #ccc #182e6c;
    } */

    *:not(.menu-toggle) {
        scrollbar-width: thin;
        scroll-behavior: smooth;
        scrollbar-color: #ccc #182e6c;
    }

    .navbar {
        /* position: relative; */
        /* z-index: 3; */
        height: 15vw;
    }

    .navbar .logo {
        height: 15vw;
        width: 35vw;
    }

    .navbar .logo img {
        height: 50vw;
        width: 50vw;
    }

    .navbar .menu-toggle {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        scrollbar-width: none;
        /* padding: 1vw; */
        padding-right: 3vw;
    }

    .menu-toggle i {
        font-size: 6vw;
        text-align: center;
        height: 6.2vw;
    }

    .navbar .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 15vw;
        left: 0;
        right: 0;
        background-color: #182e6c;
        padding: 1vw 2vw;
        width: 100vw;
        height: auto;
        z-index: 0;
        animation: slideUp 0.5s ease forwards;
    }

    .navbar .menu.active {
        display: flex;
        /* z-index: 2; */
        animation: slideDown 0.5s ease forwards;
    }

    .navbar .menu ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navbar .menu ul li {
        margin: 0.5vw 0;
        width: 10vw;
    }

    .navbar .menu a {
        padding: 1vw 2vw;
        color: #fff;
        display: block;
        width: 100%;
        text-align: left;
    }

    .navbar .menu a:hover {
        background-color: #fff;
        color: #182e6c;
    }

    @keyframes slideDown {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes slideUp {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-100%);
        }
    }

    .navbar.menu-active + .crud-container {
        margin-top: 30vw; /* Adjust this value to create space below navbar */
    }

    .crud-container {
        width: 100vw;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        transition: margin-top 0.5s ease;
        z-index: 2;
    }
    .crud {
        margin: 1vw 0;
        width: 75vw;
        height: 45vw;
    }
}

/* @media (min-width: 600px) and (max-width: 921px){
    .navbar {
        height: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar .logo {
        height: 20vw;
        width: 109vw;
    }
    .navbar .logo img {
        height: 100vw;
        width: 100vw;
    }
    .crud-container {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .crud {
        margin: 1vw 0;
        width: 75vw;
        height: 55vw;
        flex-grow: 1;
        font-size: 1.2vw;
    }
} */
